@font-face {
	font-family: 'futura-bold-cond-italic';
	src: url('/assets/fonts/futura-bold-cond-italic/futura-bold-cond-italic.eot');
	src: url('/assets/fonts/futura-bold-cond-italic/futura-bold-cond-italic.eot?#iefix') format('eot'),
		 url('/assets/fonts/futura-bold-cond-italic/futura-bold-cond-italic.woff') format('woff'),
		 url('/assets/fonts/futura-bold-cond-italic/futura-bold-cond-italic.ttf') format('truetype'),
		 url('/assets/fonts/futura-bold-cond-italic/futura-bold-cond-italic.svg#socicon') format('svg');
	font-weight: normal;
	font-style: normal;
}