.polaroid {
	position: absolute;
	h3 {
		position: absolute;
		color: $black;
		text-shadow: none;
		text-transform: uppercase;
	}
	img {
		position: relative;
	}
}

.polaroid--large {
	width: 530px;
	height: 570px;
}
.polaroid--small {
	width: 480px;
	height: 520px;
	img {
		width: 306px;
	}
}

.polaroids-inner {
	position: relative;
	top: 50px;
}

.winnerview--list {
	.polaroids-inner {
		top: -400px;
		@include breakpoint(mini-mobile) {
			top: -180px;
		}
	}
}

.polaroid--bulldog {
	background: url(/assets/img/polaroid/polaroid-bulldog.png) 50% / cover;
}

.polaroid--pins {
	background: url(/assets/img/polaroid/polaroid-pins.png) 50% / cover;
}

// ========================================
// positioning
// ========================================

$top    : 2;
$middle : 1;
$bottom : 0;

.polaroid {
	&:nth-child(1) {
		top: 190px;
		right: 0px;
		z-index: $bottom;
	}
	&:nth-child(2) {
		top: 670px;
		right: -50px;
		z-index: $middle;
	}
	&:nth-child(3) {
		top: 870px;
		left: 30px;
		z-index: $bottom;
	}
	&:nth-child(4) {
		top: 1200px;
		right: 60px;
		z-index: $top;
	}
	&:nth-child(5) {
		top: 1360px;
		left: 30px;
		z-index: $top;
	}
	&:nth-child(6) {
		top: 1680px;
		right: 0px;
		z-index: $middle;
	}
	&:nth-child(7) {
		top: 1900px;
		left: 170px;
		z-index: $top;
	}
	&:nth-child(8) {
		top: 2120px;
		right: -40px;
		z-index: $top;
	}
	&:nth-child(9) {
		top: 2290px;
		left: -75px;
		z-index: $middle;
	}
	&:nth-child(10) {
		top: 2560px;
		right: 140px;
		z-index: $top;
	}
}

// ========================================
// next ten images :: 11 - 20
// ========================================

.polaroid {
	&:nth-child(11) {
		top: 2540 + 290px;
		left: -110px;
		z-index: $top;
	}
	&:nth-child(12) {
		top: 2540 + 710px;
		right: 360px;
		z-index: $middle;
	}
	&:nth-child(13) {
		top: 2540 + 1030px;
		right: 80px;
		z-index: $bottom;
	}
	&:nth-child(14) {
		top: 2540 + 1240px;
		left: -80px;
		z-index: $top;
	}
	&:nth-child(15) {
		top: 2540 + 1510px;
		right: 0px;
		z-index: $top;
	}
	&:nth-child(16) {
		top: 2540 + 1690px;
		right: 380px;
		z-index: $middle;
	}
	&:nth-child(17) {
		top: 2540 + 1960px;
		right: -80px;
		z-index: $top;
	}
	&:nth-child(18) {
		top: 2540 + 2050px;
		left: -90px;
		z-index: $bottom;
	}
	&:nth-child(19) {
		top: 2540 + 2390px;
		right: 90px;
		z-index: $top;
	}
	&:nth-child(20) {
		top: 2540 + 2640px;
		left: 20px;
		z-index: $top;
	}
}

// ========================================
// next ten images :: 21 - 30
// ========================================

.polaroid {
	&:nth-child(21) {
		top: 5070 + 290px;
		right: 10px;
		z-index: $top;
	}
	&:nth-child(22) {
		top: 5070 + 710px;
		right: 360px;
		z-index: $middle;
	}
	&:nth-child(23) {
		top: 5070 + 1030px;
		right: 80px;
		z-index: $bottom;
	}
	&:nth-child(24) {
		top: 5070 + 1240px;
		left: -80px;
		z-index: $top;
	}
	&:nth-child(25) {
		top: 5070 + 1510px;
		right: 0px;
		z-index: $top;
	}
	&:nth-child(26) {
		top: 5070 + 1690px;
		right: 380px;
		z-index: $middle;
	}
	&:nth-child(27) {
		top: 5070 + 1960px;
		right: -80px;
		z-index: $top;
	}
	&:nth-child(28) {
		top: 5070 + 2050px;
		left: -90px;
		z-index: $bottom;
	}
	&:nth-child(29) {
		top: 5070 + 2390px;
		right: 90px;
		z-index: $top;
	}
	&:nth-child(30) {
		top: 5070 + 2640px;
		left: 20px;
		z-index: $top;
	}
}

// ========================================
// next ten images :: 31 - 40
// ========================================

.polaroid {
	&:nth-child(31) {
		top: 7620 + 290px;
		right: 10px;
		z-index: $top;
	}
	&:nth-child(32) {
		top: 7620 + 710px;
		right: 360px;
		z-index: $middle;
	}
	&:nth-child(33) {
		top: 7620 + 1030px;
		right: 80px;
		z-index: $bottom;
	}
	&:nth-child(34) {
		top: 7620 + 1240px;
		left: -80px;
		z-index: $top;
	}
	&:nth-child(35) {
		top: 7620 + 1510px;
		right: 0px;
		z-index: $top;
	}
	&:nth-child(36) {
		top: 7620 + 1690px;
		right: 380px;
		z-index: $middle;
	}
	&:nth-child(37) {
		top: 7620 + 1960px;
		right: -80px;
		z-index: $top;
	}
	&:nth-child(38) {
		top: 7620 + 2050px;
		left: -90px;
		z-index: $bottom;
	}
	&:nth-child(39) {
		top: 7620 + 2390px;
		right: 90px;
		z-index: $top;
	}
	&:nth-child(40) {
		top: 7620 + 2640px;
		left: 20px;
		z-index: $top;
	}
}

// ========================================
// next ten images :: 41 - 50
// ========================================

.polaroid {
	&:nth-child(41) {
		top: 10150 + 290px;
		right: 10px;
		z-index: $top;
	}
	&:nth-child(42) {
		top: 10150 + 710px;
		right: 360px;
		z-index: $middle;
	}
	&:nth-child(43) {
		top: 10150 + 1030px;
		right: 80px;
		z-index: $bottom;
	}
	&:nth-child(44) {
		top: 10150 + 1240px;
		left: -80px;
		z-index: $top;
	}
	&:nth-child(45) {
		top: 10150 + 1510px;
		right: 0px;
		z-index: $top;
	}
	&:nth-child(46) {
		top: 10150 + 1690px;
		right: 380px;
		z-index: $middle;
	}
	&:nth-child(47) {
		top: 10150 + 1960px;
		right: -80px;
		z-index: $top;
	}
	&:nth-child(48) {
		top: 10150 + 2050px;
		left: -90px;
		z-index: $bottom;
	}
	&:nth-child(49) {
		top: 10150 + 2390px;
		right: 90px;
		z-index: $top;
	}
	&:nth-child(50) {
		top: 10150 + 2640px;
		left: 20px;
		z-index: $top;
	}
}

.polaroid--large {
	h3 {
		bottom: 100px;
		left: 112px;
		@include fontSize(24px);
	}
}

.polaroid--small {
	h3 {
		bottom: 95px;
		left: 102px;
		@include fontSize(20px);
	}
}

.polaroid--large img {
	top: 85px;
	left: 111px;
}

.polaroid--small img {
	top: 79px;
	left: 101px;
}

// ========================================
// mobile
// ========================================

// overview of polaroids
.mobileview--overview {
	.polaroids {
		@include breakpoint(mini-mobile) {
			margin-top: 0;
			margin-left: -5px;
			font-size: 0;
		}
	}
	.polaroid {
		h3 {
			@include breakpoint(mini-mobile) {
			    display: none;
			}
		}
		img {
			@include breakpoint(mini-mobile) {
				position: static;
				width: 100%;
			}
		}
		@include breakpoint(mini-mobile) {
			position: static;
		    background: none !important;
		}
	}
	.polaroid--large,
	.polaroid--small {
		@include breakpoint(mini-mobile) {
			height: inherit;
			display: inline-block;
			vertical-align: top;
			font-size: 16px;
			width: 33.33%;
			padding-left: 5px;
	  		padding-bottom: 5px;
		}
	}
}


// listview of polaroids
.mobileview--list {
	.polaroids {
		margin-top: -60px;
	}
	.polaroid {
		img {
			@include breakpoint(mini-mobile) {
				top: 71px;
				left: 18px;
				width: 236px;
			}
		}
		h3 {
			@include breakpoint(mini-mobile) {
				position: relative;
				@include fontSize(20px);
			}
		}
	}
	.polaroid--large,
	.polaroid--small {
		@include breakpoint(mini-mobile) {
			position: static;
			width: 280px;
			height: 420px;
			margin-left: auto;
			margin-right: auto;
			background-position: 66% 0;
		}
	}
	.polaroid--small h3,
	.polaroid--large h3 {
		@include breakpoint(mini-mobile) {
			bottom: -95px;
			left: 0px;
			padding-left: 20px;
		}
	}
}

// ========================================
// winners
// ========================================

#polaroid-winner {
	z-index: $bottom;
	top: 140px;
	right: -20px;
  	img {
  		left: 111px;
		@include breakpoint(mini-mobile) {
		    left: 18px;
		}
  	}
	// @include breakpoint(mini-mobile) {
	//     margin-top: 80px;
	// }
}

.winnerview--list {

	.polaroids {
		position: relative;
		// margin-top: -430px;
		// @include breakpoint(mini-mobile) {
		//     margin-top: -170px;
		// }
	}

	.polaroid {
		&:nth-child(1) {
			top: 390px;
			right: 230px;
			z-index: $bottom;
			@include breakpoint(mini-mobile) {
			    margin-top: 150px;
			}
		}
		&:nth-child(2) {
			top: 780px;
			right: -50px;
			z-index: $middle;
		}
	}

}

.winnerview--overview {

	.polaroids {
		text-align: center;
	}

	.polaroid:not(#polaroid-winner) {
		position: static;
	    background: none !important;
		h3 {
			    display: none;
		}
		img {
				position: static;
				width: 100%;
		}
	}

	.polaroid--large:not(#polaroid-winner),
	.polaroid--small:not(#polaroid-winner) {
		height: inherit;
		display: inline-block;
		vertical-align: top;
		font-size: 16px;
		padding-left: 5px;
  		padding-bottom: 5px;
		width: 25%;
		@include breakpoint(mini-mobile) {
		    width: 33.33%;
		}
	}

}

// ========================================
// winners - mobile
// ========================================

.polaroid {
	img {
		@include breakpoint(mini-mobile) {
			top: 71px;
			left: 18px;
			width: 236px;
		}
	}
	h3 {
		@include breakpoint(mini-mobile) {
			position: relative;
			@include fontSize(20px);
		}
	}
}
.polaroid--large,
.polaroid--small {
	@include breakpoint(mini-mobile) {
		position: static;
		width: 280px;
		height: 420px;
		margin-left: auto;
		margin-right: auto;
		background-position: 66% 0;
	}
}
.polaroid--small h3,
.polaroid--large h3 {
	@include breakpoint(mini-mobile) {
		bottom: -95px;
		left: 0px;
		padding-left: 20px;
	}
}
